.aboutCont{
    background-color: #fafafa;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.aboutCont p{
    font-family: 'Inter',"sans-serif";
    color: #666;
    font-size: 1em;
}

.aboutCont h2{
    font-family: 'Inter',"sans-serif";
    font-size: 2em;
    letter-spacing: -.029375rem;
    font-weight: 700;
}

.aboutMe{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3em auto;
}

.aboutMe_logo{
    width: 40%;
}  

.aboutMe_logo img{
    width: 100%;
}

.aboutMe_text{
    margin-left: 3em;
    text-align: left;
    width: 50%;
}

.socials{
    display: flex;
    flex-wrap: wrap;
}

.fa-linkedin{
    color: #105DA0;
    font-size: 1.8em;
}

.fa-github{
    color: black;
    font-size: 1.8em;
}

.fa-medium{
    color: black;
    font-size: 1.8em;
    margin-left: 0.5em;
}

@media only screen

  and (min-width: 320px)

  and (max-width: 800px)

  and (orientation: portrait) {

    .aboutMe_logo{
        width: 100%;
    }

    .aboutMe_text{
        margin: 0;
        width: 100%;
    }

    .socials{
        justify-content: space-evenly;
    }

    .aboutCont h2{
        font-size: 1.5em;
    }
}



